<div class="customizer js__customizer">
    <div class="customizer__header">
    </div>
    <div class="customizer__body">
        <h5 class="customizer__body-header">Main</h5>
        <div class="color-picker">
            <div class="color-picker__title"><span>Main-color</span><span class="js__color-picker__val color-picker__val _customizer-main-color" data-lessvar="@main-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Main Body Bg</span><span class="js__color-picker__val color-picker__val _customizer-main-body-bg" data-lessvar="@main-body-bg" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Main Text Color</span><span class="js__color-picker__val color-picker__val _customizer-main-text-color" data-lessvar="@main-text-color" ></span></div>
        </div>
        <h5 class="customizer__body-header">Header</h5>
        <div class="color-picker">
            <div class="color-picker__title"><span>Header Top Color</span><span class="js__color-picker__val color-picker__val _customizer-header-top-color" data-lessvar="@header-top-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Header Border Color</span><span class="js__color-picker__val color-picker__val _customizer-header-border-color" data-lessvar="@header-border-color" ></span></div>
        </div>
        <div class="customizer__body-item">
            <label class="customizer__body-item-label">Header Top Height
                <input class="js__customizer__body-item-label-val customizer__body-item-label-val" type="text" placeholder="50px" data-lessvar="@header-top-height">
            </label>
            {{!-- themes.configuration.colors.headerTopHeight = 50px --}}
            {{!-- <div class="color-picker__title"><span>Header Border Color</span><span class="js__color-picker__val color-picker__val _customizer-header-border-color" data-lessvar="@header-border-color" ></span></div> --}}
        </div>
        <h5 class="customizer__body-header">Navigation</h5>
        <div class="color-picker">
            <div class="color-picker__title"><span>Nav Link Color</span><span class="js__color-picker__val color-picker__val _customizer-nav-link-color" data-lessvar="@nav-link-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Nav Link Hover Bg</span><span class="js__color-picker__val color-picker__val _customizer-nav-link-hover-background" data-lessvar="@nav-link-hover-background" ></span></div>
        </div>
        <div class="customizer__body-item">
            <label class="customizer__body-item-label">Nav Height
                <input class="js__customizer__body-item-label-val customizer__body-item-label-val" type="text" placeholder="64px" data-lessvar="@nav-height">
            </label>
        </div>
        {{!-- themes.configuration.colors.navHeight = 64px --}}
        <h5 class="customizer__body-header">Footer</h5>
        <div class="color-picker">
            <div class="color-picker__title"><span>Footer Background</span><span class="js__color-picker__val color-picker__val _customizer-footer-background" data-lessvar="@footer-background" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Footer Color</span><span class="js__color-picker__val color-picker__val _customizer-footer-color" data-lessvar="@footer-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Footer Link Color</span><span class="js__color-picker__val color-picker__val _customizer-footer-link-color" data-lessvar="@footer-link-color" ></span></div>
        </div>
        <div class="color-picker">
            <div class="color-picker__title"><span>Footer Link Hover Color</span><span class="js__color-picker__val color-picker__val _customizer-footer-link-hover-color" data-lessvar="@footer-link-hover-color" ></span></div>
        </div>

    </div>
    <div class="customizer__footer">
        <a href="" class="customizer__footer-btn btn btn-default js__customizer__footer-btn" >Generate TYPO3 Theme config</a>
    </div>
    <div class="js__customizer__hide-btn customizer__hide-btn"></div>
</div>

<div class="js__customizer-modal-overlay customizer-modal-overlay"></div>
<div class="customizer-modal">
    <textarea rows="20" class="customizer-modal__text js__customizer-modal__text" ></textarea>
</div>





        {{!-- <textarea wrap="off" rows="20" class="customizer-modal__input js__customizer-modal__input" ></textarea> --}}

{{!-- <div class="checkbox">
    <label><input type="checkbox" value="">bla bla</label>
</div>
 --}}
{{!-- <input class="ttt" name="vars" type="text" placeholder="35px" data-bbb="@main-color" > --}}

{{!-- <div id="colorPicker" data-lessvar="@main-body-bg"></div> --}}



{{!-- <div class="color-picker customizer__body-item">
    <div id="colorPicker" class="color-picker__rrr" data-lessvar="@rrr"></div>
</div>
 --}}



















{{!-- themes.configuration.colors.navHeight = 64px --}}












