<!doctype html>
<html lang="en">
    {{>head}}
<body>
    <!--[if lte IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Header partials -->


    {{!-- ================================================ --}}
    {{!-- Two different of header. --}}
    {{!-- To enable or disable chosen header you need to comment or uncomment appropriate header partial. Also there is possibility to to manipulate with elements in every header, just need to switch variables from false to true or vice versa. --}}


    {{!-- Important! --}}
    {{!-- Also need to add appropriate dependencies for every header element. You can find these dependencies in layout partials (head/headStyles.hbs, scripts.hbs) --}}



    {{ renderContent 'header'
        showHeaderTop="true"
        showHeaderTopContacts="true"
        showHeaderTopLangMenu="true"
        showTopHeaderSearch="true"
        showHeaderTopNav="true"

        showHeaderMiddle="true"
        showHeaderMiddleLogo="true"
        showHeaderMiddleSocIcons="true"

        showMainNavSearch="false"
        navDropdown="true"
    }}



{{!--     {{ renderContent 'headerMinimal'
        showHeaderTop="true"
        showHeaderTopContacts="true"
        showHeaderTopLangMenu="true"
        showHeaderTopNav="true"
        showHeaderTopSocIcons="true"

        showLogo="true"
        showSearch="false"
        navDropdown="true"
    }} --}}

    {{!-- ================================================ --}}

    <!-- pages -->
    {{>body}}

    <!-- Footer partials -->
    {{>footer}}
    {{>scripts}}
</body>
</html>
