---
#layout: default.hbs # by default it is default.hbs, but you can specify another one
title: Logo Carousel #title in menu
number: 2 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
#subpages: false #(only for first-level pages)
parent: Content Elements #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{> breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> subNavigation}}
        </div>
        <div class="col-md-9">
            {{> logoCarousel}}
        </div>
    </div>
</div>


