---
#layout: default.hbs # by default it is default.hbs, but you can specify another one
title: File downloads #title in menu
number: 11 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
#subpages: false #(only for first-level pages)
parent: Typical page content #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c462"><h1>File Downloads</h1><p class="bodytext">Proin faucibus nisl posuere dui fringilla, et lobortis est dictum. Donec erat libero, auctor at ligula in, facilisis rhoncus nulla. Fusce tristique eget elit nec accumsan. Nulla tristique, orci tempor posuere imperdiet, quam ipsum fringilla enim, ac malesuada velit orci eget nisl.</p></div>
<div id="c461"><h2>Download file</h2><ul class="media-list"><li class="media"><div class="media-body"><h4 class="media-heading"><a href="fileadmin/example_files/csm_DSC_7735_93a91b896b.jpg" target="_blank">csm DSC 7735 93a91b896b.jpg</a></h4></div></li></ul></div>
<div id="c460"><h2>Download with icon, filesize and description</h2><ul class="media-list"><li class="media"><div class="media-body"><h4 class="media-heading"><a href="fileadmin/example_files/file.pdf" target="_blank"><span class="icons icon-t3-file"></span> file.pdf</a> <small class="text-muted">0 </small></h4></div></li><li class="media"><div class="media-body"><h4 class="media-heading"><a href="fileadmin/example_files/csm_DSC_7741_7908838c09.jpg" target="_blank"><span class="icons icon-t3-picture"></span> csm DSC 7741 7908838c09.jpg</a> <small class="text-muted">85 K</small></h4></div></li></ul></div>
<div id="c459"><h2>Download with icon, filesize and preview</h2><ul class="media-list"><li class="media"><a href="fileadmin/example_files/csm_DSC_7731_a7f78b9a5d.jpg" target="_blank" class="pull-left"><img src="images/foto1.jpg" width="100" height="57" alt=""></a><div class="media-body"><h4 class="media-heading"><a href="fileadmin/example_files/csm_DSC_7731_a7f78b9a5d.jpg" target="_blank"><span class="icons icon-t3-picture"></span> csm DSC 7731 a7f78b9a5d.jpg</a> <small class="text-muted">12.0 K</small></h4></div></li></ul></div>

