---
#layout: default.hbs # by default it is default.hbs, but you can specify another one
title: Forms #title in menu
number: 12 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
#subpages: false #(only for first-level pages)
parent: Typical page content #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<h1>Powerful Form Handling</h1>
<p class="bodytext">Setting up a contact or mail form is very easy. The layout of forms is handled centrally, which allows editors to focus on the content of the form.</p>
<h2>Contactform</h2>
