<div id="c436"><h1>No HTML Required</h1><p class="bodytext">With TYPO3, controlling the behavior of images is simple. Editors with no knowledge of HTML can easily manage&nbsp;links, popups, captions, alignment,&nbsp;and more.</p></div>
<div id="c435"><h2>Image Click-enlarge Functionality</h2><div class="image-intext-left image-intext"><div class="image-wrap"><figure class="image"><a href="images/foto1.jpg" class="lightbox" ><img src="images/foto1.jpg" width="300" height="169" alt=""></a></figure></div><div class="text"><p class="bodytext">Check the "click-enlarge" checkbox in the back-end to allow users to click to show the full-size image.
</p>
<p class="bodytext">&nbsp;</p>
<p class="bodytext">&nbsp;</p></div></div></div>
<div id="c434"><h2>Images Linked to Internal and External Pages</h2><div class="image-intext-left image-intext"><div class="image-wrap"><figure class="image"><a href="http://typo3.org" target="_blank"><img src="images/foto1.jpg" width="300" height="145" alt=""></a><figcaption class="caption">Image</figcaption></figure></div><div class="text"><p class="bodytext">Each image can be linked using the link field in the back-end. Multiple links can be added by separating each link with a comma. Values entered into the link field can be&nbsp;page id, a URL, or an&nbsp;e-mail address.</p></div></div></div>

