<h2>Image gallery</h2>
<div class="image-center image-above"><div class="image-wrap"><div class="image-center-outer"><div class="image-center-inner"><div class="row image-group"><div class="col-sm-4"><figure class="image"><a href="images/fotoTemp1.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp1.jpg" width="193" height="109" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp2.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp2.jpg" width="194" height="94" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp3.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp3.jpg" width="193" height="129" class="" alt=""></a></figure></div></div>
<div class="row image-group"><div class="col-sm-4"><figure class="image"><a href="images/fotoTemp1.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp1.jpg" width="193" height="109" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp2.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp2.jpg" width="194" height="110" class="" alt=""></a></figure></div>
<div class="col-sm-4"><figure class="image"><a href="images/fotoTemp3.jpg" class="lightbox" data-rel="lightbox"><img src="images/fotoTemp3.jpg" width="193" height="129" class="" alt=""></a></figure></div></div></div></div></div></div>
