<div id="c636" class="csc-default">
    <h3>Category</h3>
    <div class="news">
        <div class="news-catecories">
            <ul>
                <li>
                    <a href="">Media</a>
                    <div class="news-catecories">
                        <ul>
                            <li>
                                <a href="">Photos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">Project</a>
                </li>
                <li>
                    <a href="">Personnel</a>
                </li>
            </ul>
        </div>
    </div>
</div>
