<h3>Archive</h3>
<div class="news">
    <div class="news-menu-view">
        <ul>
            <li>
                2013
                <ul>
                    <li class="item">
                        <a href="">February 2013</a>
                        (4 entries)
                    </li>
                    <li class="item">
                        <a href="">January 2013</a>
                        (4 entries)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
