<div class="news news-single">
    <div class="article">
        <div class="header">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
        <div class="footer">
            <p>
                <!-- date -->
                <span class="news-list-date">
                    <time datetime="2013-02-06">
                        02/06/2013
                    </time>
                </span>
                <!-- categories -->
                <span class="news-list-category">
                    Media
                </span>
                <!-- Tags -->
                <span class="news-list-tags">
                    Händelser
                </span>
                <!-- author -->
                <span class="news-list-author" itemscope="" >created by <span itemprop="name">Pixelant AB</span>
                </span>
            </p>
        </div>
        <!-- teaser -->
        <div class="teaser-text">
            <p class="bodytext">Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
        <!-- fal media files -->
        <div class="news-img-wrap">
            <div class="outer">
                <div class="mediaelement mediaelement-image">
                    <a title="" href="">
                        <img src="images/fotoTemp1.jpg" width="370" height="208" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- main text -->
        <div class="news-text-wrap">
            <p class="bodytext"> Ut tempus enim non erat convallis quis egestas dui congue. Donec ac arcu vitae sapien scelerisque eleifend quis et ipsum. Vestibulum porta iaculis est vel interdum. Fusce in lacus purus. Sed elementum viverra elit. Sed imperdiet purus vel dui sodales venenatis. Sed convallis tellus ac sapien varius vitae porttitor purus laoreet. In vel varius dolor. Aenean mollis nunc sed sem ultricies eget fringilla nunc ornare.</p>
            <p class="bodytext"> Nam eget tempus mi. In viverra mi euismod est eleifend bibendum. Vivamus diam urna, vulputate vel luctus id, ullamcorper et erat. Integer volutpat rhoncus nunc a sollicitudin. Mauris porttitor rhoncus nulla, sagittis luctus massa sodales ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce a tortor purus. Suspendisse diam est, eleifend sed volutpat et, aliquet ut arcu.</p>
        </div>
        <!-- related things -->
        <div class="news-related-wrap">
            <!-- Related news records -->
            <div class="news-related news-related-news">
                <h4>Related news</h4>
                <ul>
                    <li>
                        <span class="news-related-news-date">02/06/2013</span>
                        <a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">02/06/2013</span>
                        <a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">02/05/2013</span>
                        <a href="/news/fjaerde-nyhetsartikeln/">
                            Fjärde nyhetsartikeln
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">02/05/2013</span>
                        <a href="/news/fjaerde-nyhetsartikeln-copy-1/">
                            Fjärde nyhetsartikeln (copy 1)
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">01/29/2013</span>
                        <a href="/news/andra-nyhetsartikeln/">
                            Andra nyhetsartikeln
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">01/29/2013</span>
                        <a href="/news/andra-nyhetsartikeln/">
                            Andra nyhetsartikeln
                        </a>
                    </li>
                    <li>
                        <span class="news-related-news-date">01/29/2013</span>
                        <a href="/news/andra-nyhetsartikeln-copy-1/">
                            Andra nyhetsartikeln (copy 1)
                        </a>
                    </li>
                </ul>
            </div>
            <!-- FAL related files -->
            <div class="news-related news-related-files">
                <h4>
                    Related files
                </h4>
                <ul>
                    <li>
                        <span class="news-related-files-link">
                            <a href="/fileadmin/example_files/file.pdf" class="download-link basic-class pdf">
                                        file.pdf
                            </a>
                        </span>
                        <span class="news-related-files-size">
                            0
                        </span>
                    </li>
                </ul>
            </div>
            <!-- Related links -->
            <div class="news-related news-related-links">
                <h4>Related links</h4>
                <ul>
                    <li>
                        <a title="Pixelant AB" href="http://www.pixelant.se">Pixelant AB</a>
                        <span>This is a description for the link to Pixelant.se</span>
                    </li>
                    <li>
                        <a title="TYPO3" href="http://www.typo3.org">TYPO3</a>
                        <span>This content is rendered with a CMS called TYPO3. Follow the link to read more about TYPO3.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
