<div class="news">
    <div class="news-list-view">
        <div class="article articletype-0">
            <div class="header">
                <h3>
                    <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </a>
                </h3>
            </div>
            <div class="news-img-wrap">
                <a href="">
                    <img src="images/fotoTemp1.jpg" width="100" height="56" alt="">
                </a>
            </div>
            <div class="teaser-text">
                <p class="bodytext">Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad...</p>
                <a class="more" href="">Read more</a>
            </div>
            <div class="footer">
                <p>
                    <span class="news-list-date">
                        <time datetime="2013-02-06">02/06/2013</time>
                    </span>
                    <span class="news-list-category">Media</span>
                    <span class="news-list-tags">Händelser</span>
                    <span class="news-list-author">created by Pixelant AB</span>
                </p>
            </div>
        </div>
        <div class="article articletype-0">
            <div class="header">
                <h3>
                    <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)</a>
                </h3>
            </div>
            <div class="news-img-wrap">
            </div>
            <div class="teaser-text">
                <p class="bodytext">Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad...</p>
                <a class="more" href="">Read more</a>
            </div>
            <div class="footer">
                <p>
                    <span class="news-list-date">
                        <time datetime="2013-02-06">02/06/2013</time>
                    </span>
                    <span class="news-list-tags">Händelser</span>
                    <span class="news-list-author">created by Pixelant AB</span>
                </p>
            </div>
        </div>
        <div class="article articletype-0">
            <div class="header">
                <h3>
                    <a href="">Fjärde nyhetsartikeln</a>
                </h3>
            </div>
            <div class="teaser-text">
                <p class="bodytext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                <a class="more" href="">Read more</a>
            </div>
            <div class="footer">
                <p>
                    <span class="news-list-date">
                        <time datetime="2013-02-05">02/05/2013</time>
                    </span>
                    <span class="news-list-tags">Händelser</span>
                    <span class="news-list-author">created by Mats Svensson</span>
                </p>
            </div>
        </div>
        <div class="article articletype-0">
            <div class="header">
                <h3>
                    <a href="">Fjärde nyhetsartikeln (copy 1)</a>
                </h3>
            </div>
            <div class="teaser-text">
                <p class="bodytext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                <a class="more" href="">Read more</a>
            </div>
            <div class="footer">
                <p>
                    <span class="news-list-date">
                        <time datetime="2013-02-05">02/05/2013</time>
                    </span>
                    <span class="news-list-tags">Händelser</span>
                    <span class="news-list-author">created by Mats Svensson</span>
                </p>
            </div>
        </div>
        <div class="page-navigation">
            <p>Page 1 of 2.</p>
            <ul class="f3-widget-paginator">
                <li class="current">1</li>
                <li>
                    <a href="">2</a>
                </li>
                <li class="last next">
                    <a href="">Next</a>
                </li>
            </ul>
        </div>
        <div class="news-clear"></div>
    </div>
</div>
