<div class="news">
    <div id="ea825489" class="carousel slide vertical news-carousel" >
        <div class="carousel-inner">
            <div class="item">
                <div class="article articletype-0">
                    <div class="news-media">
                    </div>
                    <div class="news-data-wrapper">
                        <!-- date -->
                        <time class="news-list-date" datetime="2013-12-12T07:29" title="07:29">
                            <span>12</span>
                            <strong>Dec</strong>
                        </time>
                        <!-- header -->
                        <div class="header">
                            <h3>
                                <a href="/news/in-sagittis-non-nibh-in-iaculis/">
                                    In sagittis non nibh...
                                </a>
                            </h3>
                        </div>
                        <div class="teaser-text">
                            <p class="bodytext">Fusce ornare vel eros eget porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            <a class="more" href="/news/in-sagittis-non-nibh-in-iaculis/">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article articletype-0">
                    <div class="news-media">
                        <div class="news-img-wrap">
                            <a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                                <img src="images/On_the_wall.jpg" width="100" height="56" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="news-data-wrapper">
                        <!-- date -->
                        <time class="news-list-date" datetime="2013-02-06T11:50" title="11:50">
                            <span>06</span>
                            <strong>Feb</strong>
                        </time>
                        <!-- header -->
                        <div class="header">
                            <h3>
                                <a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">Lorem ipsum dolor si...</a>
                            </h3>
                        </div>
                        <div class="teaser-text">
                            <p class="bodytext">Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad...</p>
                            <a class="more" href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="article articletype-0">
                    <div class="news-media">
                        <div class="news-img-wrap">
                        </div>
                    </div>
                    <div class="news-data-wrapper">
                        <!-- date -->
                        <time class="news-list-date" datetime="2013-02-06T11:50" title="11:50">
                            <span>06</span>
                            <strong>Feb</strong>
                        </time>
                        <!-- header -->
                        <div class="header">
                            <h3>
                                <a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">Lorem ipsum dolor si...</a>
                            </h3>
                        </div>
                        <div class="teaser-text">
                            <p class="bodytext">Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad...</p>
                            <a class="more" href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="article articletype-0">
                    <div class="news-media">
                    </div>
                    <div class="news-data-wrapper">
                        <!-- date -->
                        <time class="news-list-date" datetime="2013-02-05T18:23" title="18:23">
                            <span>05</span>
                            <strong>Feb</strong>
                        </time>
                        <!-- header -->
                        <div class="header">
                            <h3>
                                <a href="/news/fjaerde-nyhetsartikeln/">
                                    Fjärde nyhetsartikel...
                                </a>
                            </h3>
                        </div>
                        <!-- teasser text -->
                        <div class="teaser-text">
                                    <p class="bodytext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
                            <a class="more" href="/news/fjaerde-nyhetsartikeln/">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control left" href="/#ea825489" data-slide="prev"><span class="icons icon-t3-newsCarousel-arrow-up"></span></a>
        <a class="carousel-control right" href="/#ea825489" data-slide="next"><span class="icons icon-t3-newsCarousel-arrow-down"></span></a>
    </div>
    <a class="newsCarousel-all-link" href="news.html">Show all News</a>
</div>
