<h3>Tags</h3>
<div class="news">
    <ul class="news-tags">
        <li>
            <a href="">Händelser</a>
        </li>
        <li>
            <a href="">Företag</a>
        </li>
    </ul>
</div>
