

// =================================
// === Fix Newsletter-subscription alert message ============
// =================================
// .tx-pxa-newsletter-subscription .alert {
//     width: 70%;
// }
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------


// =================================
// ======== Browsehappy, fix IE ====
// =================================
.browsehappy{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fddb30;
    z-index: 20000;
    line-height: 3;
    font-size: 17px;
    padding-left: 50px;
    color: #000;
    font-family: Arial;
    a{
        color: #ff3333;
        font-weight: bold;
    }
}
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
