// =========================================================
// === Image text link =====================================
// =========================================================
.img-text-link__wrp{
    position: relative;
    overflow: auto;
    padding: 0 15px;
    margin: 0 -15px;
}
.img-text-link {
    margin: 40px 0;
}
.img-text-link__img-link {
	position: relative;
	display: block;
	z-index: 1;
}
.img-text-link__link {
	position: relative;
	z-index: 1;
}
.img-text-link._whole-area-link .img-text-link__link {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
    background: transparent;
    border: none;
    text-indent: -9999px;
}
.img-text-link__sham-link{
    color: @main-link-color;
}
.img-text-link__sham-link.btn{
    color: @main-text-color;
}
.img-text-link._whole-area-link:hover .img-text-link__link {
    background-color: fade(#fff, 10%);
}
// =========================================================
// =========================================================
