---
#layout: default.hbs # by default it is default.hbs, but you can specify another one
title: Typical page content #title in Typical page contentenu
number: 2 #position in menu
menuLevel: 1
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
subpages: false #(only for first-level pages)
#parent: #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{> breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>anyLanguageAnyCharacter}}
            {{>divider}}
            {{>examplesOfRichText}}
            {{>divider}}
            {{>fileDownloads}}
            {{>divider}}
            {{>forms}}
            {{>divider}}
            {{>headers}}
            {{>divider}}
            {{>headers}}
            {{>divider}}
            {{>imageGallery}}
            {{>divider}}
            {{>imageGroups}}
            {{>divider}}
            {{>imagesWithLinks}}
            {{>divider}}
            {{>lists}}
            {{>divider}}
            {{>tables}}
            {{>divider}}
            {{>textAndImages}}
            {{>divider}}
        </div>
    </div>
</div>
