<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/slide1.jpg" alt="">
            <div class="carousel-caption">
                <h3>Lorem ipsum</h3>
                <h2>dolor sit amet</h2>
                <p>Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum.</p>
                <a class="btn btn-default" href="#"><span>Call to action</span></a>
            </div>
        </div>
        <div class="item">
            <img src="images/slide1.jpg" alt="">
            <div class="carousel-caption">
                <h3>Lorem ipsum, Lorem ipsum</h3>
                <h2>dolor sit amet, Lorem ipsum</h2>
                <p>Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis.</p>
                <a class="btn btn-default" href="#"><span>Call to action</span></a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icons icon-t3-slider-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icons icon-t3-slider-arrow-right"></span>
    </a>
</div>
