<ul class="nav contact-links" >
    <li>
    <p><span class="icons icon-t3-mobile"></span><span>CALL US ON</span> <a href="tel:+46-40-617-1230">tel:+46 (40) 617-1230</a></p>
    </li>
    <li><p><span class="icons icon-t3-mail"></span><span>EMAIL US AT</span> <a href="#">info@info.se</a></p>
    </li>
</ul>
