<h3>Partners</h3>
<div id="carousel-example" class="carousel slide logo-carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-xs-6 col-md-3 logo-carousel__item">
                    <a href="">
                        <img src="images/logo-fireball.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 logo-carousel__item">
                    <a href="">
                        <img src="images/logo-moonlight.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 logo-carousel__item">
                    <a href="">
                        <img src="images/logo.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 logo-carousel__item">
                    <a href="">
                        <img src="images/logo-save-the-nature.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-sm-6 col-md-3 logo-carousel__item">
                    <a href="">
                        <img src="images/logo-royal-trader.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="icons icon-t3-slider-arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="icons icon-t3-slider-arrow-right"></span>
    </a>
</div>
