<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 parallax-container {{class}}">
            <div class="parallax-img" data-height="{{height}}" data-image="{{dataImage}}" data-image-mobile="{{dataImageMobile}}"></div>
        </div>
    </div>
</div>
