<button type="button" class="pxa-search-toggle-button collapsed {{class}}" data-toggle="collapse" data-target="#pxa-search-collapse">
    <span class="icons icon-t3-search"></span>
    <span class="sr-only">Toggle search</span>
</button>
