{{#is this.collapse "true"}}
<div id="pxa-search-collapse" class="pxa-main-search-collapse collapse {{class}}">
    <div class="container">
    <form  class="search" role="search" action="search.html">
        <span class="icons icon-t3-search"></span>
        <div class="form-group" id="the-basics">
            <input type="search" class="form-control typeahead quicksearch" placeholder="Search" >
            <button type="submit" style="display:none"></button>
        </div>
    </form>
    </div>
</div>
{{/is}}
{{#is this.collapse "false"}}
<div class="pxa-main-search {{class}}">
    <form class="search" role="search" action="search.html">
        <span class="icons icon-t3-search"></span>
        <div class="form-group" id="the-basics">
            <input type="search" class="form-control typeahead quicksearch" placeholder="Search" >
            <button type="submit" style="display:none"></button>
        </div>
    </form>
</div>
{{/is}}
