<div class="social">
    <ul class="nav nav-pills" >
        <li><a href="#"><span class="icons icon-t3-facebook"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-twitter"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-linkedin"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-vimeo"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-googleplus"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-pinterest"></span></a></li>
        <li><a href="#"><span class="icons icon-t3-instagram"></span></a></li>
    </ul>
</div>
