// =========================================================
// === Header Minimal ======================================
// =========================================================


// =========================================================
// HEADER
.header-wrp {
    position: relative;
    height: @header-info-height + @nav-height + 1px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.header._hide-info{
    transform: translateY(-@header-info-height);
}


// =========================================================
// Header info
.header-info{
    position: relative;
    height: @header-info-height;
    width: 100%;
    z-index: 1300;
    background: @header-info-background;
    .clearfix();
    font-size: 11px;
    max-width: 1600px;
    margin: 0 auto;
}

.header-info__contact{
    float: left;
    display: none;
    color: @header-info-color;
}
.header-info__contact-tel {
    display: inline-block;
    padding: 0 10px;
    line-height: @header-info-height;
}
.header-info__contact-tel-title {

}
.header-info__contact-tel-link {
    color: lighten(@link-color, 25%);
    padding-left: 2px;
}
.header-info__contact-email {
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;

}
.header-info__contact-email-title {

}
.header-info__contact-email-link {
    color: lighten(@link-color, 25%);
    padding-left: 2px;

}
.header-info__social-icons {
    display: none;
    float: left;
    padding: 0 20px;

}
.header-info__social-icon {
    display: inline-block;
    padding: 0 4px;
    color: @header-info-color;
}
.header-info__social-icon .icons{
    font-size: 18px;
    line-height: @header-info-height;
}

.header-info .nav {
    float: right;
    margin: 0;
    padding: 0;

}
.header-info > .nav > li {
    display: inline-block;

}
.header-info > .nav > li > a {
    padding: 0 14px;
    line-height: @header-info-height;
    color: @header-info-color;
}
.no-touch .header-info > .nav > li > a:hover {
    color: lighten(@header-info-color, 15%);
    background: transparent;
}

.header-info .nav li>a:before {
    .icons();
    font-size: 14px;
    position: relative;
    top: 2px;
    padding-right: 4px;
}
.header-info .nav li:nth-child(1)>a:before {
    content: "\e29e";
}
.header-info .nav li:nth-child(2)>a:before {
    content: "\eb";
}
.header-info .nav li:nth-child(3)>a:before {
    content: "\e253";
}


// =========================================================
// Header language
.header-info__language-menu {
    float: right;
}
.header-info__language-menu a{
    -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

.header-info__language-menu-box{
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 100%;
    right: 0;
    left: auto;
    top: 0;
    background-color: @header-info-background;
    z-index: 4000;
    text-align: right;
    padding-right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.header-info__language-menu-box-close-btn:before, .header-info__language-menu-box-close-btn:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 18px;
    top: 50%;
    margin-top: -1px;
    right: 10px;
    margin-left: -11px;
    background: @nav-search-btn-color;
    backface-visibility: hidden;
}

.header-info__language-menu-box-close-btn:before {
    transform: rotate(135deg);
}

.header-info__language-menu-box-close-btn:after {
    transform: rotate(45deg);
}

.header-info__language-menu-box._language-menu-box-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s 0s,visibility 0s 0s;
}

.header-info__language-menu-overlay {
    background: rgba(34,34,34,.3);
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.header-info__language-menu-overlay._language-menu-box-overlay-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s 0s,visibility 0s 0s;
}

.header-info__language-menu-btn{
    display: inline-block;
    line-height: @header-info-height;
    color: @header-info-color;
    font-size: 14px;
    padding: 0 20px;
}

.no-touch .header-info__language-menu-btn:hover{
    color: lighten(@header-info-color, 15%);
}

.header-info__language-menu-box-close-btn {
    display: block;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.header-info__language-menu-box-item{
    color: @header-info-color;
    font-size: 12px;
    padding: 8px 14px;
    display: block;
    text-align: left;

}
.no-touch .header-info__language-menu-box-item:hover{
    color: lighten(@header-info-color, 15%);
}


@media (min-width: 768px) {
    .header-info__contact{
        display: block;
    }
    .header-info__language-menu-box-item{
        display: inline-block;
        padding: 0 14px;
        line-height: @header-info-height;
    }
    .header-info__language-menu-box-close-btn {
        height: @header-info-height;
    }
}
@media (min-width: 992px) {
    .header-info__social-icons {
        display: block;
    }
}

._freeze-body{
    height: 100%;
    width: 100%;
    position: fixed;
}



// =========================================================
// Navigation
.main-navigation-min {
    position: relative;
    border-top: 1px solid #eee;
    z-index: 1100;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    background: @nav-background-color;
    .clearfix();
    max-width: 1600px;
    margin: 0 auto;
}

.main-navigation-min a{
    color: @nav-link-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

.no-touch .main-navigation-min a:hover{
    color: @nav-link-hover-color;
    transition: color 0.1s linear;
}

._active > .main-navigation-min__item-link, ._active > .main-navigation-min__sub-item-link {
    color: @nav-link-active-color;
}

.no-touch ._active > .main-navigation-min__item-link:hover, .no-touch ._active > .main-navigation-min__sub-item-link:hover {
    color: @nav-link-active-hover-color;
}

.main-navigation-min__items-wrp {
    padding: 0 24px;
    position: relative;
    width: 85%;
    float: left;
}

@media (min-width: 768px) {
    .main-navigation-min__items-wrp {
        padding: 0 48px;
        width: 90%;
    }
}

.main-navigation-min__items-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    .clearfix();
    position: relative;
    width: 100%;
    height: @nav-height;
    z-index: 1110;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    transform-style: preserve-3d;
    transition-property: transform;
    box-sizing: content-box;
}

.main-navigation-min__item{
    float: left;
    z-index: 1001;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform-style: preserve-3d;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    height: 100%;
    transition: background 0.1s linear;
}

.no-touch .main-navigation-min__item:hover{
    background: @nav-link-hover-background;
}

.main-navigation-min__item-link{
    display: block;
    padding: 0 12px;
    display: inherit;
    align-items: center;
    height: 100%;
}

.main-navigation-min__sub-item-list {
    position: absolute;
    top: @nav-height !important;
    left: 0;
    background: @nav-background-color;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 16px, 0);
    transition: all 0.3s;
    list-style: none;
    padding: 5px 0 15px;
    min-width: 200px;
    text-align: left;
    border-top: 3px solid @main-color;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.1);
}

.main-navigation-min__item:last-child .main-navigation-min__sub-item-list {
    right: 0;
    left: auto;
}

.no-touch .main-navigation-min__sub-item:hover {
    background: @nav-link-hover-background;
}

.main-navigation-min__sub-item-link {
    padding: 10px 10px 10px 20px;
    font-size: 13px;
    letter-spacing: normal;
    text-transform: none;
    display: block;
}

.main-navigation-min-button-next, .main-navigation-min-button-prev{
    .icons();
    cursor: pointer;
    background: @nav-background-color;
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    color: #888;
    z-index: 1120;
    -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

.main-navigation-min-button-next.swiper-button-disabled, .main-navigation-min-button-prev.swiper-button-disabled{
    color: #eee;
}

.main-navigation-min-button-next{
    right: -1px;
}

.main-navigation-min-button-prev{
    left: 0;
}

.main-navigation-min-button-next:after, .main-navigation-min-button-prev:after{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;

}

.main-navigation-min-button-next:after{
    content: "\e111";
    right: 2px;
}

.main-navigation-min-button-prev:after{
    content: "\e110";
    left: 2px;
}

@media (min-width: 768px) {
    .main-navigation-min-button-next, .main-navigation-min-button-prev{
        width: 48px;
    }
    .main-navigation-min-button-next:after{
        right: 14px;
    }
    .main-navigation-min-button-prev:after{
        left: 14px;
    }
}


// Submenu by hover (devices without touch screen)
.no-touch .main-navigation-min__item._sub:hover .main-navigation-min__sub-item-list{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.no-touch ._sub .main-navigation-min__item-link:after{
    .icons();
    content: "\e10f";
    padding-left: 3px;
    position: relative;
    font-size: 14px;
    color: @nav-link-arrow-color;
}


// Submenu by click (with touch screen)
.touch .main-navigation-min__item._sub .main-navigation-min__item-link-mobile {
    .icons();
    padding: 0 6px;
    position: relative;
    top: 0;
    font-size: 22px;
    color: @nav-link-arrow-color;
    display: inherit;
    height: 100%;
    align-items: center;
    margin-right: 6px;
}

.touch .main-navigation-min__item._sub .main-navigation-min__item-link{
    padding-right: 4px;
}

.touch .main-navigation-min__item._sub .main-navigation-min__item-link-mobile:after {
    content: "\e10f";

}

.touch .main-navigation-min__item._sub._open .main-navigation-min__sub-item-list{
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.mobile-nav-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}


@media (min-width: 768px) {
    .main-navigation-min__items-wrp {
        width: 77%;
    }
}


@media (min-width: 992px) {
    .main-navigation-min__item{
        font-size: 12px;
        letter-spacing: 0.2px;

    }
}

@media (min-width: 1024px) {
    .no-touch .main-navigation-min-button-next, .no-touch .main-navigation-min-button-prev {
        color: @nav-background-color;
    }
    .no-touch .main-navigation-min-button-next.swiper-button-disabled, .no-touch .main-navigation-min-button-prev.swiper-button-disabled{
        color: transparent;
    }
}



// =================================
// Logo
.main-navigation-min__logo{
    display: none;
}
.main-navigation-min__logo-img{
    display: inline-block;
}

@media (min-width: 768px) {
    .main-navigation-min__logo{
        float: left;
        width: 13%;
        padding-left: 20px;
        z-index: 1330;
        background-color: @nav-background-color;
        position: relative;
        display: block;
        line-height: @nav-height;
    }

}
@media (min-width: 992px) {
    .main-navigation-min__logo{
        padding-left: 26px;
    }

}




// =================================
// Search
.main-navigation-min__search-btn-wrp {
    float: right;
    width: 15%;
    background: @nav-background-color;
    z-index: 1300;
    position: relative;
    -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

@media (min-width: 768px) {
    .main-navigation-min__search-btn-wrp {
        width: 10%;
    }
}

.main-navigation-min__search-btn {
    position: relative;
    display: block;
    width: 38px;
    height: @nav-height;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0) !important;
    z-index: 3;
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

.main-navigation-min__search-btn:before,  .main-navigation-min__search-btn:after {
    content: '';
    position: absolute;
    transition: opacity .3s;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.main-navigation-min__search-btn:before {
    border-radius: 50%;
    border: 2px solid @nav-search-btn-color;
    width: 14px;
    height: 14px;

    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -10px;
}

.main-navigation-min__search-btn:after {
    background: @nav-search-btn-color;
    transform: rotate(45deg);
    height: 2px;
    width: 6px;
    top: 50%;
    left: 50%;
    margin-top: 5px;
    margin-left: 1px;


}

@media (min-width: 768px) {
    .main-navigation-min__search-btn {
        width: 64px;
    }
    .main-navigation-min__search-btn:before {
        width: 18px;
        height: 18px;
        border: 3px solid @nav-search-btn-color;

        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
    }
    .main-navigation-min__search-btn:after {
        height: 3px;
        width: 8px;
        top: 50%;
        left: 50%;
        margin-top: 4px;
        margin-left: 2px;
    }
}

.main-navigation-min__search-btn span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.main-navigation-min__search-btn span:before {
    transform: rotate(45deg);
}

.main-navigation-min__search-btn span:after {
    transform: rotate(-45deg);
}

.main-navigation-min__search-btn span:before,  .main-navigation-min__search-btn span:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 18px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -11px;
    background: @nav-search-btn-color;
    opacity: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: opacity .3s,transform .3s;
}

@media (min-width: 768px) {
    .main-navigation-min__search-btn span:before,  .main-navigation-min__search-btn span:after {
        height: 3px;
        width: 22px;
        top: 50%;
        margin-top: -2px;
    }
}

.main-navigation-min__search-btn._search-close-btn:before,  .main-navigation-min__search-btn._search-close-btn:after {
    opacity: 0;
}

.main-navigation-min__search-btn._search-close-btn span:before {
    transform: rotate(135deg);
}

.main-navigation-min__search-btn._search-close-btn span:after {
    transform: rotate(45deg);
}

.main-navigation-min__search-btn._search-close-btn span:before,  .main-navigation-min__search-btn._search-close-btn span:after {
    opacity: 1;
}

.main-navigation-min__search-box input {
    border-radius: 0;
    border: none;
    background: @nav-background-color;
    height: 100%;
    width: 100%;
    padding: 0 8%;
    box-shadow: inset 0 1px 0 #E2E3DF, 0 2px 3px -1px rgba(0,0,0,.3);
    appearance: none;
}

.main-navigation-min__search-box input:focus {
    outline: none;
}

.main-navigation-min__search-box {
    position: absolute;
    height: 50px;
    width: 100%;
    top: @nav-height;
    left: auto;
    right: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s,visibility 0s .3s;
}

@media (min-width: 768px) {
    .main-navigation-min__search-box {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .main-navigation-min__search-box {
        width: 46%;
    }
}
@media (min-width: 1200px) {
    .main-navigation-min__search-box {
        width: 36%;
    }
}

.main-navigation-min__search-box._search-box-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s 0s,visibility 0s 0s;
}

.main-navigation-min__search-box-overlay {
    background: rgba(34,34,34,.3);
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity .3s 0s,visibility 0s .3s;
}

.main-navigation-min__search-box-overlay._search-box-overlay-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s 0s,visibility 0s 0s;
}
