<div class="img-slider swiper-container js__img-slider">
    <div class="swiper-wrapper img-slider__wrp">
        <div class="swiper-slide img-slider__slide">
            <div class="img-slider__slide-wrp">
                <img data-src="images/temp-carousel-1.jpg" class="swiper-lazy img-responsive img-slider__img">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption">
                    <h3 class="img-slider__caption-sub-header">Lorem ipsum</h3>
                    <h2 class="img-slider__caption-header">Dolor sit amet</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p">Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum.</p>
                    <a class="img-slider__caption-link" href="#">Call to action</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide img-slider__slide">
            <div class="img-slider__slide-wrp">
                <img data-src="images/temp-carousel-2.jpg" class="swiper-lazy img-responsive img-slider__img">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption">
                    <h3 class="img-slider__caption-sub-header">Lorem ipsum</h3>
                    <h2 class="img-slider__caption-header">Dolor sit amet</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p">Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum.</p>
                    <a class="img-slider__caption-link" href="#">Call to action</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide img-slider__slide">
            <div class="img-slider__slide-wrp">
                <img data-src="images/temp-carousel-3.jpg" class="swiper-lazy img-responsive img-slider__img">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption">
                    <h3 class="img-slider__caption-sub-header">Lorem ipsum</h3>
                    <h2 class="img-slider__caption-header">Dolor sit amet</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p">Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum. Vivamus luctus urna sed urna ultricies ac doltempor dui sagittis. In condimentum.</p>
                    <a class="img-slider__caption-link" href="#">Call to action</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="js__img-slider__pagination img-slider__pagination swiper-pagination swiper-pagination-white img-slider__pagination"></div>
    <!-- Navigation -->
    <div class="js__img-slider__btn-next img-slider__btn-next swiper-button-next swiper-button-white"></div>
    <div class="js__img-slider__btn-prev img-slider__btn-prev swiper-button-prev swiper-button-white"></div>
</div>
