<div class="tx-pxa-isotope">
    <section id="options" class="options">
        <div class="option-combo">
            <h2>Filter:</h2>
            <div id="filter" class="filter option-set" data-option-key="filter">
                <a href="#show-all" data-option-value="*" class="selected btn">show all</a>
                <a href="#media" class="btn" data-option-value=".media">media</a>
                <a href="#photos" class="btn" data-option-value=".photos">photos</a>
                <a href="#project" class="btn" data-option-value=".project">project</a>
                <a href="#personnel" class="btn" data-option-value=".personnel">personnel</a>
            </div>
        </div>
    </section>

    <!-- elements -->
    <div class="isotope-container clearfix">
        <div class="isotope-item media project personnel ">
            <a id="c282"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/fotoTemp1.jpg" width="320" height="180" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="isotope-item photos media personnel ">
            <a id="c283"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/fotoTemp2.jpg" width="320" height="180" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="isotope-item photos personnel ">
            <a id="c284"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/fotoTemp3.jpg" width="320" height="155" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="isotope-item media photos project ">
            <a id="c285"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/foto1.jpg" width="320" height="214" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="isotope-item project ">
            <a id="c286"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/fotoTemp2.jpg" width="320" height="180" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="isotope-item project personnel ">
            <a id="c288"></a>
            <div class="image-center image-above">
                <div class="image-wrap">
                    <div class="image-center-outer">
                        <div class="image-center-inner">
                            <figure class="image">
                                <img src="images/foto1.jpg" width="320" height="214" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
