<h3>Inloggning</h3>

<div class="tx-felogin-pi1">
    <h3 class="felogin-welcome-header">User login</h3>
    <div class="alert alert-info">Enter your username and password here in order to log in on the website:<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <!-- ###LOGIN_FORM### -->
    <form action="index.php?id=19" role="form" target="_top" method="post" onsubmit="tx_rsaauth_feencrypt(this);; return true;">
        <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label>Username:</label>
            <input class="form-control" type="text" name="user" value="">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" name="pass" value="">
        </div>
        <div>
            <input type="button" name="submit" class="btn btn-default pull-right" value="Login">
        </div>
        <!--###FORGOTP_VALID###-->
        <p class="forgot-pass-link"><a href="index.php?id=19&amp;tx_felogin_pi1%5Bforgot%5D=1" rel="nofollow">Forgot your password?</a></p>
        <!--###FORGOTP_VALID###-->
        <div class="felogin-hidden">
            <input type="hidden" name="logintype" value="login">
            <input type="hidden" name="pid" value="39">
            <input type="hidden" name="redirect_url" value="">
            <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
            <input type="hidden" name="n" value=""><input type="hidden" name="e" value="10001">
        </div>
        </fieldset>
    </form>
<!-- ###LOGIN_FORM### -->
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-error-header">Login failure</h3>
    <div class="alert alert-danger">An error occurred during login. Most likely you didn't enter the username or password correctly.
    Be certain that you enter them precisely as they are, including upper/lower case.
    Another possibility is that cookies might be disabled in your web browser.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <!-- ###LOGIN_FORM### -->
    <form action="index.php?id=19" role="form" target="_top" method="post" onsubmit="tx_rsaauth_feencrypt(this);; return true;">
        <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label>Username:</label>
            <input class="form-control" type="text" name="user" value="">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" name="pass" value="">
        </div>
        <div>
            <input type="button" name="submit" class="btn btn-default pull-right" value="Login">
        </div>
        <!--###FORGOTP_VALID###-->
        <p class="forgot-pass-link"><a href="index.php?id=19&amp;tx_felogin_pi1%5Bforgot%5D=1" rel="nofollow">Forgot your password?</a></p>
        <!--###FORGOTP_VALID###-->
        <div class="felogin-hidden">
            <input type="hidden" name="logintype" value="login">
            <input type="hidden" name="pid" value="39">
            <input type="hidden" name="redirect_url" value="">
            <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
            <input type="hidden" name="n" value=""><input type="hidden" name="e" value="">
        </div>
        </fieldset>
    </form>
<!-- ###LOGIN_FORM### -->
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-forgot-header">Forgot your password?</h3>
    <div class="alert alert-info">Please enter your username or email address. Instructionspassword will be immediately emailed to you.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <!-- ###FORGOT_FORM### -->
    <form action="index.php?id=19&amp;tx_felogin_pi1%5Bforgot%5D=1" method="post">
        <div class="felogin-hidden">
            <input type="hidden" name="tx_felogin_pi1[forgot_hash]" value="40aa19d9fba1cff1ba587e008e6745a1">
        </div>
        <fieldset>
        <legend>Reset Password</legend>
        <div class="form-group">
            <label >Username or email address:</label>
            <input type="text" class="form-control" id="tx_felogin_pi1-forgot-email">
        </div>
        <div>
            <input type="button" class="btn btn-default pull-right" name="submit" value="Reset Password">
         </div>
        <!-- ###FORGOT_FORM### -->
        <p class="back-link-login"><a href="index.php?id=19" rel="nofollow">Return to login form</a>&nbsp;</p>
        </fieldset>
    </form>
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-forgot-header">Forgot your password?</h3>
    <div class="alert alert-info">An email has been sent to the address stored in your account and contains a link to reset your password. If you do not receive an email, your account or email address was not found.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <p class="back-link-login"><a href="index.php?id=19" rel="nofollow">Return to login form</a>&nbsp;</p>
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-success-header">Login successful</h3>
    <div class="alert alert-success">You are now logged in as ''<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-logout-header">Current status</h3>
    <div class="alert alert-success">This is your current status:<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <form action="index.php?id=19" target="_top" method="post">
        <fieldset>
        <legend>Logout</legend>
        <div class="form-group">
            <label>Username:</label>
        </div>
        <div>
            <input type="button" class="btn btn-default" name="submit" value="Logout">
         </div>
        <div class="felogin-hidden">
            <input type="hidden" name="logintype" value="logout">
            <input type="hidden" name="pid" value="39">
            <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
        </div>
        </fieldset>
    </form>
</div>
<!-- ####################################################################### -->
<br>
<br>
<br>
<!-- ####################################################################### -->
<div class="tx-felogin-pi1">
    <h3 class="felogin-logout-header">You have logged out.</h3>
    <div class="alert alert-success">You just logged out from your user session on this website. You can login again or as another user by the form below.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>
    <!-- ###LOGIN_FORM### -->
    <form action="index.php?id=19" role="form" target="_top" method="post" onsubmit="tx_rsaauth_feencrypt(this);; return true;">
        <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label>Username:</label>
            <input class="form-control" type="text" name="user" value="">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" name="pass" value="">
        </div>
        <div>
            <input type="button" name="submit" class="btn btn-default pull-right" value="Login">
        </div>
        <!--###FORGOTP_VALID###-->
        <p class="forgot-pass-link"><a href="index.php?id=19&amp;tx_felogin_pi1%5Bforgot%5D=1" rel="nofollow">Forgot your password?</a></p>
        <!--###FORGOTP_VALID###-->
        <div class="felogin-hidden">
            <input type="hidden" name="logintype" value="login">
            <input type="hidden" name="pid" value="39">
            <input type="hidden" name="redirect_url" value="">
            <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0">
            <input type="hidden" name="n" value="C"><input type="hidden" name="e" value="10001">
        </div>
        </fieldset>
    </form>
<!-- ###LOGIN_FORM### -->
</div>
<!-- ####################################################################### -->
