<div class="tx_mocsearch_pi1" style="">
    <!-- Search form -->
    <div class="search-form">
        <form class="search-result-form form-inline "  action="search.html">
        <div id="the-basics-two">
            <input type="search" class="search-result-input-sword form-control  pxasolr_typeahead typeahead" placeholder="Search" >
            <input class="search-result-submit-button btn btn-default" type="submit" name="" value="Search">
        </div>
        </form>
        <div id="suggestResult"></div>
    </div>
</div>




<div class="tx_mocsearch_pi1" style="">
    <!-- Search form -->
    <!-- SearchTag navigation menu -->
    <div class="search-result-container ">
    <div class="searchtag-menu">
        <ul class="nav nav-tabs">
            <li id="searchtag-menu-item-all" class="nav-link active">
                <a data-toggle="tab" href="#one" class="viewsearchtag-overview">All results (<span class="searchtag-no-results ">7</span>)</a>
            </li>
            <li id="searchtag-menu-item-pages" class="nav-link">
                <a data-toggle="tab" class="viewsearchtag-pages" href="#two">Pages (<span class="searchtag-no-results ">3</span>)</a>
            </li>
            <li id="searchtag-menu-item-tx_news_domain_model_news" class="nav-link">
                <a data-toggle="tab" class="viewsearchtag-tx_news_domain_model_news" href="#three">News (<span class="searchtag-no-results ">4</span>)</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
    <!-- Overview of all searchtags -->
    <div class="tab-pane active" id="one">
    <div class="search-overview" >
        <ul>
            <li id="searchoverview-pages" class="searchoverview-li" >
                <h2>Pages</h2>
                <ul>
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/date/">Date</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 ries)...<br><a href="/extension/news/date/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/category/">Category</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 entries)...<br><a href="/extension/news/category/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/tags/">Tags</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 entries) ...<br><a href="/extension/news/tags/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="seemore">
                        <a class="seemore-pages" href="">See more...</a>
                    </li>
                </ul>
            </li>


            <li id="searchoverview-tx_news_domain_model_news" class="searchoverview-li" >
                <h2>News</h2>
                <ul>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/foersta-nyhetsartikeln-copy-1/">Första nyhetsartikeln (copy 1)</a></h4>
                                <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:38:00Z"><span>29</span><strong>Jan</strong></time>
                                <p class="description"><br>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimaore eu ullamcorper orci uisque eget. Vestibulum ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris....</p>
                                <a class="link" href="/news/foersta-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/andra-nyhetsartikeln-copy-1/">Andra nyhetsartikeln (copy 1)</a></h4>
                                <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:50:00Z"><span>29</span><strong>Jan</strong></time>
                                <p class="description"><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum....</p>
                                <a class="link" href="/news/andra-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/fjaerde-nyhetsartikeln-copy-1/">Fjärde nyhetsartikeln (copy 1)</a></h4>

                                <time class="meta-bar meta-date hidden-phone" datetime="2013-02-05T18:23:00Z"><span>05</span><strong>Feb</strong></time>
                                <p class="description"><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....</p>
                                <a class="link" href="/news/fjaerde-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li class="seemore"><a class="seemore-tx_news_domain_model_news" href="">See more...</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>


    <div class="tab-pane" id="two">
    <!-- Search Results -->
    <div class="search-result" >
        <ul>
            <li id="searchtag-result-pages" class="tab-pane searchtag-result" >
                <h2>Pages</h2>
                <ul class="search-results">
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/date/">Date</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 entries)...<br><a href="/extension/news/date/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/category/">Category</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 entries) ...<br><a href="/extension/news/category/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="result  pages">
                            <div class="pxasolr-image">
                            </div>
                            <div class="resulttext">
                                <h3><a href="/extension/news/tags/">Tags</a></h3>
                                <p class="description">Archive 2013 February 2013 (4 entries) January 2013 (4 entries) ...<br><a href="/extension/news/tags/"><b>Read more...</b></a></p>
                            </div>
                            <div class="result-sidebar">
                                <p>08.07.2014</p>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    <li class="pagination">
                        <div class="info ">
                            <span class="from">1</span> - <span class="to">3</span> of <span class="total">3</span> results
                        </div>
                        <ul class="pages pagination">
                            <li class="nextlink inactive"><span><i class="icons icon-t3-search-pagination-left"></i></span></li>
                            <li class="pagelink active"><a href="" >1</a></li>
                            <li class="pagelink"><a href="" >2</a></li>
                            <li class="nextlink inactive"><span><i class="icons icon-t3-search-pagination-right"></i></span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </div>

    <div class="tab-pane" id="three">
    <!-- Search Results -->
    <div class="search-result" >
        <ul>
            <li id="searchtag-result-tx_news_domain_model_news" class="tab-pane searchtag-result" >
                <h2>News</h2>
                <ul class="search-results">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/foersta-nyhetsartikeln-copy-1/">Första nyhetsartikeln (copy 1)</a></h4>
                                <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:38:00Z"><span>29</span><strong>Jan</strong></time>
                                <p class="description"><br>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimaore eu ullamcorper orci uisque eget. Vestibulum ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris....</p>
                                <a class="link" href="/news/foersta-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/andra-nyhetsartikeln-copy-1/">Andra nyhetsartikeln (copy 1)</a></h4>
                                <time class="meta-bar meta-date hidden-phone" datetime="2013-01-29T11:50:00Z"><span>29</span><strong>Jan</strong></time>
                                <p class="description"><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum....</p>
                                <a class="link" href="/news/andra-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/fjaerde-nyhetsartikeln-copy-1/">Fjärde nyhetsartikeln (copy 1)</a></h4>

                                <time class="meta-bar meta-date hidden-phone" datetime="2013-02-05T18:23:00Z"><span>05</span><strong>Feb</strong></time>
                                <p class="description"><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....</p>
                                <a class="link" href="/news/fjaerde-nyhetsartikeln-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)</a></h4>

                                <time class="meta-bar meta-date hidden-phone" datetime="2013-02-06T11:50:00Z"><span>06</span><strong>Feb</strong></time>
                                <p class="description"><br>Maecenas pulvinar dolor eget erat rhoncus quis rutrum tellus posuere. Maecenas molestie massa ac eros pulvinar mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. ...</p>
                                <a class="link" href="/news/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">Read more...</a>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li class="pagination">
                        <div class="info ">
                            <span class="from">1</span> - <span class="to">4</span> of <span class="total">4</span> results
                        </div>
                        <ul class="pages pagination">
                            <li class="nextlink inactive"><span><i class="icons icon-t3-search-pagination-left"></i></span></li>
                            <li class="nextlink inactive"><span><i class="icons icon-t3-search-pagination-right"></i></span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
    </div>
    </div>
</div>



